<div class="main d-flex flex-wrap justify-content-center">
  <mat-card
    class="m-2"
    *ngFor="let pokemon of pokemons; let i = index"
    style="width: 20%; height: 20%;"
    
  >
    <mat-card-header class="d-flex justify-content-center">
      <mat-card-title>
        <h1>
          {{ pokemon.name | uppercase }}
        </h1>
      </mat-card-title>
    </mat-card-header>

    <mat-divider></mat-divider>

    <img matCardImage src="{{ pokemon.imageUrl }}" />
    <!-- <mat-card-content>
            Text content
        </mat-card-content> -->
    <mat-card-actions class="d-flex justify-content-center">
      <button mat-button color="basic" (click)="go( pokemon.name)">INFO</button>
    </mat-card-actions>
    <!-- <mat-card-footer>
            Footer
        </mat-card-footer> -->
  </mat-card>
</div>

<router-outlet></router-outlet>
